.hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
  transform: translateY(-10px); /* Yukarı kaldırır */
  box-shadow: 0 10px 20px rgba(0,0,0,0.2) !important; /* Gölge ekler */
  cursor: pointer;
}